*{
    margin: 0;
    padding: 0;
}

.wide-banner-type-2-content {
    position: absolute;
    top: 400px;
    left: 670px;
    height: 158px;
    max-width: 47%;
    margin: auto;
    width: 30%;
    padding: 32px;
    text-align: center;
}

.beaux {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-top-view.pt-3.pb-3:hover {
    background: #feebe7;
    transition: 0.4s all;
}

p.slide-text {
    margin-bottom: 64px;
}

a.slide-button {
    background: #feebe7;
    padding: 16px 32px;
    border-radius: 3px;
    color: #343437;
}

.slide_left {
    width: 40%;
    padding-top: 150px;
    margin-left: 223px;
}

h2.slide-heading {
    margin-bottom: 18px;
    line-height: 1;
    font-weight: 300;
    font-size: 72px;
    color: #000000;
    text-transform: uppercase;
}

h3.slide-sub-heading-2 {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 54px;
    color: #000000;
}

div#nav-header-top-view {
    background: url(../images/x.png) no-repeat center center;
    position: relative;
    width: 100%;
    height: 100%;
}

.justify-content-top {
    position: absolute;
    right: 76px;
}

.custom-beauty p {
    font-size: 1em;
}

.beauty-deal-text h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.beauty-deal-text {
    text-align: center;
}

.beauty-deal-text {
    font-size: 1em;
}

.beauty-deal {
    background: #feebe7;
    padding: 55px 0;
}

.wide-banner-type-2-rounded {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
}

.beau {
    position: relative;
}

.promo-video__inner {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    z-index: 5;
}

.select-video video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #feebe7;
}

.promo-video {
    text-align: center;
    float: left;
    width: 100%;
    padding: 0px 0;
    position: relative;
    height: 950px;
    overflow: hidden;
}

.product_price {
    line-height: normal;
    font-size: 14px;
    color: #444444;
}

.sale {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 10px 12px;
    background: #000;
    color: white;
    background: #000;
}

.block-box {
    position: relative;
    text-align: center;
}

h2.block-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #444444;
    display: inline-block;
    width: 100%;
    margin: 0px 0 4px;
}

h2.block-title {
    width: 100%;
    margin: 0px 0 4px;
}

.content-two-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.content-two-title span {
    font-size: 90px;
}

.content-two-title h2 {
    margin-bottom: 0px;
    font-size: 20px;
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    line-height: 1.1;
    display: inline-block;
    z-index: 1;
}

a.read-blog {
    font-size: 13px;
    border-bottom: 1px solid;
    color: black;
    text-transform: uppercase;
}

span.date {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.blog-description h4 a {
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
}

.blog-description {
    padding: 16px 0px 16px;
    text-transform: uppercase;
}

.blog-description h4 {
    margin: 0;
}

.article {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

a.btn.btn-link {
    width: auto;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 1px 20px;
    vertical-align: top;
    border: none;
    background: #444444;
    text-transform: uppercase;
    border-radius: 0;
    color: white;
    font-size: 14px;
}

.section-beauty input.mail {
    letter-spacing: 0.8px;
    display: inline-block;
    padding: 0px 12px;
    height: 45px;
    width: 15%;
    line-height: 43px;
    margin: 0 12px 0 0;
    font-size: 12px;
    border: none;
}

.title-view h2 {
    font-size: 20px;
}

a#to-Top {
    position: fixed;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
    line-height: 20px;
    z-index: 9999;
    right: 15px;
    bottom: 30px;
}

.footer-icons {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

ul.payment-icons ,ul.payment-icons-f1{
    float: left !important;
    position: relative;
    display: flex;
}

ul.payment-icons-f1 li a svg {
    filter: invert(1);
    margin: 8px;
}

ul.payment-icons-f1 li:nth-child(1) a svg {
    margin-left: 0;
}

ul.payment-icons li:nth-child(1) {
    padding-left: 0;
}

ul.payment-icons li {
    padding-left: 15px;
}

footer#footer-view h4 {
    font-size: 16px;
    margin-bottom: 17px;
}

footer#footer-view ul li a {
    color: white;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

footer#footer-view {
    background: #000;
    color: white;
}

.headline.text-center p {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0px;
}

h3.masthead-subheading {
    font-size: 42px;
    font-weight: normal;
}

a.btn.btn-dark , a.btn.btn-primary {
    font-size: 20px;
    font-weight: 300;
    background: #000000;
    border: none;
    border-radius: 0;
    padding: 10px 25px 10px 25px;
    box-shadow: 2.5px 4.3px 5px 0px rgba(0, 0, 0, 0.3);
}
a.btn.btn-primary{
    background: #599A26;
}
a.nav-link {
    font-size: 20px;
    color: #000000 !important;
}
body{
    font-family: "Josefin Sans", Sans-serif;
    color: #282828;
}

.custom-block {
    padding: 70px;
    margin-top: 50px;
}
@media (min-width: 1400px){
    .container {
        max-width: 1820px;
    }
    /* css div row example */
    
}
@media only screen and (max-width: 5000px) and (min-width: 1200px){
    .col-ex{
        position: relative;
        width: 20%;
    }
}
header#header,#nav-header-top {
    background: #FEEBE7;
    position: relative;
}

header#header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bg-light {
    background-color: #FEEBE7!important;
}
.footer-icons li a span svg {
    width: 24px;
    height: 24px;
}
/* css page view */
.section-beauty,.section-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #feebe7;
}

